.footer {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-top: 3px solid var(--primary-color); */
  padding: 0.5rem 1rem;
  min-width: 400px;
  margin-top: auto;
  color: var(--text-color);
  background-color: var(--background-color);
}

.footer .heart {
  color: var(--primary-color);
}

@media (max-width: 480px) {
  .footer {
    font-size: 0.9rem;
    text-align: center;
    padding: 1rem;
    height: auto;
  }
}
